<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/arcade/src/edu/usc/softarch/arcade/util/convert/ClusterGraphToDotConverter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.usc.softarch.arcade.util.convert.ClusterGraphToDotConverter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/joshua/Dropbox/evolution/Android_Analysis/ARC_Android_System/android.system_rsf/4.3_r1_deps.rsf /home/joshua/Dropbox/evolution/Android_Analysis/ARC_Android_System/android.system_clustered/4.3_r1_91_topics_137_arc_clusters.rsf /home/joshua/Dropbox/evolution/Android_Analysis/ARC_Android_System/android.system_dot/4.3_r1_91_topics_137_arc_clusters.dot"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="arcade"/>
</launchConfiguration>
