<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/arcade/src/edu/usc/softarch/arcade/facts/driver/DepsRsfToBunchMdg.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/MyExtractors/logs}/deps_rsf_to_bunch_mdg.log"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.usc.softarch.arcade.facts.driver.DepsRsfToBunchMdg"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/home/joshua/workspace/MyExtractors/data/hadoop-0.19/hadoop-0.19-odem-facts.rsf&quot; &quot;/home/joshua/recovery/expert_decomps/hadoop-0.19.0/hadoop-0.19-odem-facts.mdg&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="arcade"/>
</launchConfiguration>
