<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/arcade/src/edu/usc/softarch/arcade/MetricsDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.usc.softarch.arcade.MetricsDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-projfile cfg/linux-wca_uemnm.cfg -computedFilePrefix /home/joshua/workspace/MyExtractors/data/linux/linux_ -authClusteringFile &quot;/home/joshua/recovery/Expert Decompositions/linux/linux.static.flat.detailed.rsf&quot; -alg wca -simMeasure uemnm -stoppingCriterion preselected"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="arcade"/>
</launchConfiguration>
