<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/arcade/src/edu/usc/softarch/arcade/facts/driver/ReverseAnalysis.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/MyExtractors/logs}/eclipse_console.log"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.usc.softarch.arcade.facts.driver.ReverseAnalysis"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-depsFile &quot;/home/joshua/workspace/MyExtractors/data/bash/bash_make_dep_facts.rsf&quot; -authFile &quot;/home/joshua/Documents/Software Engineering Research/projects/recovery/Expert Decompositions/bash_1.14/bash_1.14_ground_truth_recovery.rsf&quot; -topicsFile &quot;/home/joshua/Documents/Software Engineering Research/subject_systems/bash/bash-200-doc-topics.txt&quot; -langType &quot;c&quot; --pkgFile &quot;/home/joshua/workspace/PySourceSeparator/data/bash_auth_pkgs.rsf&quot; --outFile /home/joshua/ser/projects/recovery/reverse_analysis/bash_full_ra.csv"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="arcade"/>
</launchConfiguration>
