<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/arcade/src/edu/usc/softarch/arcade/antipattern/detection/SmellDetectionEvaluator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.usc.softarch.arcade.antipattern.detection.SmellDetectionEvaluator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;/Users/ederfigueroa/Library/Application Support/ubuntuone/shares/recovery (Joshua Garcia, 8b4ef995-54c3-4db3-a574-97cbcdebc4b8)/smell_detection/archstudio/ground_truth/archstudio_gt_smells2classes.csv&quot; &quot;/Users/ederfigueroa/Desktop/research/archstudio/techniques/&quot; &quot;/Users/ederfigueroa/Library/Application Support/ubuntuone/shares/recovery (Joshua Garcia, 8b4ef995-54c3-4db3-a574-97cbcdebc4b8)/smell_detection/archstudio/archstudio_smellXtech_table.csv&quot; &quot;/Users/ederfigueroa/Library/Application Support/ubuntuone/shares/recovery (Joshua Garcia, 8b4ef995-54c3-4db3-a574-97cbcdebc4b8)/smell_detection/archstudio/ground_truth/archstudio_gt_smells.ser&quot; &quot;/Users/ederfigueroa/Library/Application Support/ubuntuone/shares/recovery (Joshua Garcia, 8b4ef995-54c3-4db3-a574-97cbcdebc4b8)/smell_detection/archstudio/archstudio_ser_to_mojofm.csv&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="arcade"/>
</launchConfiguration>
