<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/arcade/src/edu/usc/softarch/arcade/antipattern/detection/interfacebased/DepFindRunner.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry path=&quot;5&quot; projectName=&quot;arcade&quot; type=&quot;1&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/ext-tools/DependencyFinder/lib/DependencyFinder.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/ext-tools/DependencyFinder/lib/guava.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/ext-tools/DependencyFinder/lib/jakarta-oro.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/ext-tools/DependencyFinder/lib/log4j.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/weka.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/Users/joshuaga/weka-3-6-2/weka-src.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jxl.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/log4j-1.2.16.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/guava-10.0.1.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/joshua/.m2/repository/com/google/guava/guava/10.0.1/guava-10.0.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/commons-cli-1.2.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/sootclasses-2.4.0.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/soot-2.4.0/src&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/polyglotclasses-1.3.5.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jasminclasses-2.4.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/gexf4j-core-0.2.0-ALPHA.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/gexf4j-core&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/Jama-1.0.2.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jgrapht-jdk1.6.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/collections-generic-4.01.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/colt-1.2.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jung-3d-2.0.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jung-3d-demos-2.0.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jung-algorithms-2.0.1.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/joshua/Documents/source/jung2-2_0_1-sources/jung-algorithms-2.0.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jung-api-2.0.1.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/home/joshua/Documents/source/jung2-2_0_1-sources/jung-api-2.0.1-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jung-graph-impl-2.0.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jung-io-2.0.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jung-jai-2.0.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jung-jai-samples-2.0.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jung-samples-2.0.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jung-visualization-2.0.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/stax-api-1.0.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/vecmath-1.3.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/wstx-asl-3.2.6.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/poi-3.8-20120326.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/poi-ooxml-3.8-20120326.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/xmlbeans-2.3.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/dom4j-1.6.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/junit-3.8.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/poi-ooxml-schemas-3.8-20120326.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/poi-excelant-3.8-20120326.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/poi-examples-3.8-20120326.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/poi-scratchpad-3.8-20120326.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/commons-math3-3.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/commons-lang3-3.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/snowball.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/xstream-1.4.6.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/arcade/libs/xstream-1.4.6-sources.jar&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/xstream/xmlpull-1.1.3.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/xstream/xpp3_min-1.1.4c.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/classcycle.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/classcycle&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/trove-2.0.2.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jira-client-0.5-SNAPSHOT-jar-with-dependencies.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/jira-client&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/svnkit-1.8.3.jar&quot; path=&quot;5&quot; sourceAttachmentPath=&quot;/svnkit&quot; sourceRootPath=&quot;&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/jcommander-1.36-SNAPSHOT.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/commons-io-2.4.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/nikola/.p2/pool/plugins/org.junit_4.12.0.v201504281640/junit.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/nikola/.p2/pool/plugins/org.hamcrest.core_1.3.0.v201303031735.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/org.eclipse.core.contenttype_3.4.200.v20130326-1255.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/org.eclipse.core.resources_3.8.101.v20130717-0806.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/org.eclipse.core.runtime_3.9.0.v20130326-1255.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/org.eclipse.jdt.core_3.9.1.v20130905-0837.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/org.eclipse.osgi_3.9.1.v20130814-1242.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/org.eclipse.equinox.common_3.6.200.v20130402-1505.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/org.eclipse.equinox.preferences_3.5.100.v20130422-1538.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/org.eclipse.core.jobs_3.5.300.v20130429-1813.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/algs4.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/mallet.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/log4j-api-2.8.2.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/log4j-core-2.8.2.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/json-20141113.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/json-simple-1.1.1.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/pmd/javacc-5.0.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/pmd/pmd-core-5.3.3.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry internalArchive=&quot;/arcade/libs/pmd/pmd-java-5.3.3.jar&quot; path=&quot;5&quot; type=&quot;2&quot;/&gt;&#10;"/>
        <listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; path=&quot;5&quot; type=&quot;4&quot;/&gt;&#10;"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.usc.softarch.arcade.antipattern.detection.interfacebased.DepFindRunner"/>
    <listAttribute key="org.eclipse.jdt.launching.MODULEPATH"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="subject_systems/Struts2/src &#13;&#10;subject_systems/Struts2/depfinder&#13;&#10;lib_struts"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="arcade"/>
</launchConfiguration>
